/* Updated fonts to my own choice of fonts*/
body {
  font-family: 'Satisfy', cursive;
  font-family: 'Sriracha', cursive;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000b6;
    border-left: 1px solid black;
    padding: 10px;


  }

  .header {
  text-align: center;
  color: black;
  border-radius: 15px;
  background-color: #E8E1DF;
  white-space: pre-wrap;

  /* try to fix the background to be full */
  
  }
  
  .description {
    white-space: pre-wrap;

  }
  /* updated to align text to center */
  .time-block {
    padding-bottom: 15px;
    border-radius: 15px;
    text-align: center;
  }
  /* updated prewrap and height */
  .row {
    border-top: 1px solid #4B3A2A;
    height: 80px;
    
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    height: 80px;
  }
  
  /* Make it a prettier color */
  .past {
    background-color: #A89889;
    color: black;
  }
  
  .present {
    background-color: #BC9CAC;
    color: black;
  }
  
  .future {
    background-color: #9CA39C;
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid rgb(0, 0, 0);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #3C5952;
    color: rgb(255, 244, 244);

    /* Try to fix the save button to show the floppy disk */
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  /* Added media for smaller devices*/
  
  @media screen and (max-width:760px), screen and (max-width:575px){
    .row{
      height: auto;
      margin-top: 20px;
    }

    .hour{
      padding-right: 15%;
    }

    .saveBtn{
      border: 0;
      border-radius: 0.25rem;
      height: 50px;
    }

    textarea {
      min-height: 85px;
      border: 0;
    }
  }